absl-py==1.4.0
accelerate==1.6.0
aiohttp==3.11.15
albumentations==2.0.6
altair==5.5.0
arviz==0.21.0
astropy==7.0.1
attrs==25.3.0
bokeh==3.7.2
CacheControl==0.14.3
certifi==2025.4.26
cffi==1.17.1
click==8.1.8
cloudpickle==3.1.1
cmake==3.31.6
colorcet==3.1.0
cryptography==43.0.3
dask==2024.12.1
decorator==4.4.2
diffusers==0.33.1
Flask==3.1.0
flax==0.10.6
folium==0.19.5
fsspec==2025.3.2
gdown==5.2.0
geopandas==1.0.1
google-cloud-storage==2.19.0
grpcio==1.71.0
gym==0.25.2
h5py==3.13.0
holoviews==1.20.2
huggingface-hub==0.30.2
ipykernel==6.17.1
jax==0.5.2
joblib==1.4.2
jsonschema==4.23.0
jupyter==1.0.0
keras==3.8.0
langchain==0.3.24
lightgbm==4.5.0
matplotlib==3.10.0
numpy==2.0.2
opencv-python==4.11.0.86
openai==1.76.2
pandas==2.2.2
plotly==5.24.0
pytorch==2.6.1
scikit-learn==1.2.2
scipy==1.10.0
seaborn==0.11.3
tensorflow==2.12.0
torch==2.6.0
